{% extends '::base.html.twig' %}

{% trans_default_domain 'ZIMZIMCategoryProduct' %}

{#
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    {% block headeoandshare %}{% endblock headeoandshare %}
    <title>{% block title %}{{ 'category.listid.metatitle'|trans }}{% endblock title %}</title>
    <META NAME="description" CONTENT="{% block metadescription %}{{ 'category.listid.metadesc'|trans }}{% endblock metadescription %}">
    {% block zimzimseo %}{% endblock zimzimseo %}
</head>
<body>
{% block body %}

    {% block page %}
        {% block breadcrumbs %}{% endblock breadcrumbs %}
    {% endblock page %}

{% endblock body %}
</body>
</html>
#}