{% extends 'ZIMZIMCategoryProductBundle::layout.html.twig' %}

{% trans_default_domain 'ZIMZIMCategoryProduct' %}

{% block title %}
    {{ 'home.index.title'|trans }}
{% endblock title %}

{% block page %}

    <div class="row">
        <div class="small-12 columns">
            <h1 class="headertitle text-center">
                {{ 'home.index.title'|trans }}
            </h1>
        </div>
    </div>

    <div id="owl-demo" class="owl-carousel owl-theme">
        {% for entity in entities %}
            {% include 'ZIMZIMCategoryProductBundle:ItemHome:include/itemhomebox.html.twig' with {'entity': entity} %}
        {% endfor %}
    </div>


{% endblock page %}


{% block javascripts %}

    {{ parent() }}

    <script>
        $(document).ready(function () {

            $("#owl-demo").owlCarousel({

                autoPlay: 7000,
                navigation: false,
                slideSpeed: 300,
                paginationSpeed: 400,
                singleItem: true,
                'afterAction': function(){
                    return this;
                },
                'addClassActive': true,
                'afterInit': function(){
                    return this;
                }
            });

            window.Carousel = $(".owl-carousel").data('owlCarousel');

        });

    </script>
{% endblock javascripts %}

